.modal {
  &-overlay  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &-content {
    width: 50%;
    background-color: #e74c3c;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: 'Alatsi', sans-serif;

  }
  &-header {
    margin: 0 auto;
    background-color: #b3382c;
    padding: 25px 30px;
    text-align: left;
    font-family: 'Alatsi', sans-serif;
  }
  &-body {
    padding-left: 15px;
    padding-right: 15px;
  }
}


