.back-drop  {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 49, 48, 0.42);
}

.modal-content {
  /*width: 50%;*/
  margin: 0 auto;
  background-color: #e74c3c;
  color: #ffffff;

}