.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Alatsi', sans-serif;
}

.close-button {
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
}